@model IEnumerable<McIntashLaptops.Models.LaptopModelDTO>
@inject McIntashLaptops.Services.ShoppingCartService shoppingCartService

<h1>Thank You for Your Purchase</h1>

<div class="bg-light w-75 text-dark">
    If your payment processes then you should get a receipt in your email.<br />
    Please make sure that it is not in your spam folder.<br />
    The following will be on that receipt once payment is successful.
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraphicsCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriveSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraphicsCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatingSystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row pt-3">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Price:</td>
                <td id="calculate-total">
                    @{
                        var total = shoppingCartService.getTotal();
                    }
                    $@total
                </td>
            </tr>
        </tbody>
    </table>
</div>